<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/registo.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="container-fluid">
      <div class="container">
          <div class="row" >
              <div class="col 4"><img src="/images/logo-retro.jpg" alt="" class="rounded-circle" width="50%"> </div>
              <div class="col-8"><h1 id="titulo"> RetroFutbolStore</h1></div>
          </div>
  
          <%- include("./partials/nuevomenu") %>
          <% if(typeof ALoguearse != 'undefined') { %>
            <%= ALoguearse.email%>
            <%  } else { %>
                <h4>Aún no estas logueado. ¿Qué te parece si <a href="/login">lo haces?</a></h4>
            <% } %>

          <section><h2 style="color: crimson;"><%= mytable.equipo %></h2>
            <div class="row">
              
                <div class="col-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/images/<%= mytable.imagen %>" width="100%">
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title"style="color: black">Camiseta: <%= mytable.equipo %></h5>
                        <p class="card-text"style="color: black">Año: <%= mytable.año %></p>
                        <p class="card-text"style="color: black">Seleccion: <%= mytable.seleccion %></p>
                        <p class="card-text"style="color: black">Precio: <%= mytable.precio %></p>
                        <a href="/producto " button type="button" class="btn btn-light">Volver</button></a><br>
                        <a href="/carrito/<%= mytable.imagen %> " button type="button" class="btn btn-light">Agregar a Carrito</button></a>
                    </div>
                </div>
            </div>  
        </section>
        

          
          

          
          <!-- Tab panes -->
          
          <footer>
            <%- include('partials/footer'); %>
        </footer>
    </div>

  </div> 
   
    




    <script src="https://use.fontawesome.com/e52c2df0af.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       
  </body>
</html>